.products {
  background-image: url("../img/bg-products.jpg");
  padding-bottom: 55px;
  padding-top: 35px;
  h3 {
    font-family: 'Arsenal', sans-serif;
    font-size: 48px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 8px;
    color: $text-main-color;
    @media screen and (max-width: 1140px){
      font-size: 40px;
    }
    @media screen and (max-width: 960px){
      font-size: 36px;
    }
  }
  .hr {
    width: 180px;
    height: 1px;
    border-top: 1px solid #3b3b3b;
    margin: 0 auto;
    margin-bottom: 52px;
  }
  .items.items-products {
    @include row-flex();
    justify-content: center;
    @media screen and (max-width: 960px){
      font-size: 14px;
    }
    .item.first-product {
      @include col();
      @include size(12);
      @include size-md(8);
      @include size-sm(10);
      margin-bottom: 30px;
      display: flex;
      justify-content: flex-end;
      background: url("../img/bg-products-row1.jpg") no-repeat;
      background-size: cover;
      .product-container{
        width: 50%;
        border-radius: 0 5px 5px 0;
        @include md(width, 100%);
        @include md(border-radius, 5px);
        position: relative;
        .product-bg{
          position: absolute;
          width: 100%;
          height: 100%;
          z-index: 99;
          filter: blur(5px);
          background: rgba(23,23,23, 0.7);
        }
        .first-product-right{
          position: relative;
          z-index: 100;
          color: $white-color;
          padding: 22px 0;
          h4{
            font-weight: bold;
            margin-left: 40px;
            margin-bottom: 11px;
            span{
              text-transform: uppercase;
            }
          }
          ul li{
            list-style: disc;
            margin-left: 56px;
            line-height: 29px;
          }
          .btn-product{
            display: block;
            width: 180px;
            height: 50px;
            border-radius: 5px;
            color: $white-color;
            background: $button-color;
            text-decoration: none;
            line-height: 50px;
            text-align: center;
            font-weight: bold;
            margin: 22px 0 10px 38px;
            border: 1px solid $button-color;
            @media screen and (max-width: 720px){
              width: 150px;
              height: 40px;
              line-height: 40px;
              font-size: 14px;
            }
            &:hover{
              background: $white-color;
              color: $text-main-color;
              transition: 0.3s;
            }
          }
        }
      }
    }
    .item.second-product {
      @include col();
      @include size(8);
      @include size-md(8);
      @include size-sm(10);
      margin-bottom: 30px;
      display: flex;
      justify-content: flex-end;
      background: url("../img/bg-products-row2.jpg") no-repeat;
      background-size: cover;
      border-radius: 0 5px 5px 0;
      .product-container{
        width: 50%;
        border-radius: 0 5px 5px 0;
        @include md(width, 100%);
        @include md(border-radius, 5px);
        position: relative;
        .product-bg{
          position: absolute;
          width: 100%;
          height: 100%;
          z-index: 99;
          filter: blur(5px);
          background: rgba(23,23,23, 0.7);
        }
        .second-product-right{
          position: relative;
          z-index: 100;
          color: $white-color;
          padding: 25px 0;
          @include md(width, 100%);
          @include md(border-radius, 5px);
          h4{
            font-weight: bold;
            margin-left: 20px;
            margin-bottom: 13px;
            line-height: 24px;
            span{
              text-transform: uppercase;
            }
          }
          ul li{
            list-style: disc;
            margin-left: 35px;
            line-height: 29px;
          }
          .btn-product{
            display: block;
            width: 180px;
            height: 50px;
            border-radius: 5px;
            color: $white-color;
            background: $button-color;
            text-decoration: none;
            line-height: 50px;
            text-align: center;
            font-weight: bold;
            margin: 20px 0 15px 20px;
            border: 1px solid $button-color;
            @media screen and (max-width: 720px){
              width: 150px;
              height: 40px;
              line-height: 40px;
              font-size: 14px;
            }
            &:hover{
              background: $white-color;
              color: $text-main-color;
              transition: 0.3s;
            }
          }
        }
      }

    }
    .item.download-product{
      @include col();
      @include size(4);
      @include size-md(8);
      @include size-sm(10);
      margin-bottom: 30px;
      .container-download-product{
        background: $yellow-color;
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        @include md(padding, 30px 0);
        .download-product-item{
          text-align: center;
          text-decoration: none;
          .img-download-product{
            width: 70px;
            height: 99px;
            margin-bottom: 25px;
          }
          .text-download-product{
            width: 100%;
            text-align: center;
            text-transform: uppercase;
            color: $text-main-color;
            font-size: 24px;
            font-family: 'Arsenal', sans-serif;
            &:hover {
              color: $white-color;
            }
          }
        }
      }
    }
  }
}